{{ partial "header.html" . }}

<div class="tags" opengraph google analytics comics 660-1045 illustration-site 1775-1250 thumb/5  355-250>
	<ul>
		<li><i class="fa fa-tags fa-2x"></i></li>

	    {{ range .Site.Taxonomies.tags.ByCount }}
	            <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
	    {{ end }}
	</ul>
</div>


{{ range first 1 (where (where .Site.RegularPages "Section" "illustrations" ) ".Params.draft" "==" false) }}
<a href="{{ .Page.Permalink }}">{{ .Render "imageview" }}</a>


<div class="legend">
	<p  >{{ .Title }} </p>
	<p  >{{ .Date.Format "Mon, 2 Jan, 2006"}} </p>
</div>
{{ end }}




<div class="publication-list shadow-border">
	<h3> {{ i18n "home-last-publication" }}</h3>

	{{ range first 10 (where (where .Site.RegularPages "Section" "illustrations" ) ".Params.draft" "==" false) }}
	    
		<a href="{{ .Permalink }}">
			<div class="item-list">
			<p  >{{ .Title }} </p>
			<p  >{{ .Date.Format "Mon, 2 Jan, 2006"}} </p>
			</div>
		</a>

	{{ end }}
</div>
{{ partial "footer.html" . }}


<style type="text/css">



	.legend {
		display: flex;
  		flex-wrap: wrap; 
		justify-content: space-between;
	}

	.item-list {
		display: flex;
  		flex-wrap: wrap; 
		justify-content: space-between;
		border-radius: 1em;
		transition: .5s ease;
	}

	.item-list p{
		padding-right: 0.2em;
    	padding-left: 0.2em;
	}

	.item-list:hover {
	background-color: #cccccc;
	box-shadow: 0 0 10px rgba(0,0,0, 0.2);
	opacity: 0.5;
	}
	.item-list:hover p{
		color: white;
		font-weight: bold;
	}



    .publication-list h3{
    	padding-top: 1em;
		padding-left: 1em;
		border-bottom:  1px solid #cccccc;
		padding-bottom: 1em;
	}
</style>