{{ partial "header.html" . }}

<h1>
	<a href="{{ .Permalink  }}">{{ .Title}}</a>
</h1>
<div  class="gallery-container box" >
{{ range first 12 .Pages }}
<div class="preview-box">
	<div class="preview-card hover-shadow">
	<a  href="{{ .RelPermalink }}">
		<h2 class="title">{{ .Title }}<h2>
		<p> {{ truncate 150 .Page.Content }}</p>
    <p class="date"> {{ .Page.Date.Format "Mon, 2 Jan, 2006"}} </p>
  </a>

	</div>
</div>
{{ end }}


</div>




{{ partial "footer.html" . }}

<style type="text/css">

.gallery-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 3rem auto;
  position: relative;
}



.preview-box {
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}

.preview-box p{
  margin-left: 2em;
  margin-right: 2em;
}



.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.3;
}



.preview-card {
  position: relative;
    width: 100%;
    border: 1px solid #cccccc;
    margin-top: 50px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);

    }

.preview-card a {
  position: relative;
}





</style>