{{ partial "header.html" . }}

<h1> {{ .Title }} </h1>
<p> {{ .Content}} </p>



{{ partial "tagsDisplay.html" . }}


{{ .Render "imageview" }}

{{ partial "sectionPaginate" . }}


{{ partial "footer.html" . }}