<div class="view-image">
	<img src="{{.Site.BaseURL}}images/illustrations/{{ .Params.image }}" alt="{{ .Title }}" />
</div>

<style type="text/css">
	.view-image {
		display: flex;
    	justify-content: center;
    	align-items: flex-start;
	}

	.view-image img {
  max-width: 100%;
  height: auto;
}

</style>