{{ partial "header.html" . }}

<h1>
	<a href="{{ .Permalink  }}">{{ .Title}}</a>
</h1>
<div  class="gallery-container box" >
{{ range first 9 .Pages }}
		{{ .Render "thumbnails"}}
{{ end }}


</div>




{{ partial "footer.html" . }}

<style type="text/css">

.gallery-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 3rem auto;
  position: relative;
}

</style>