<div class="thumb-box">
	<div class="thumb-card">
	<a  href="{{ .RelPermalink }}">
		<img src="{{.Site.BaseURL}}images/illustrations/{{ .Params.image }}" alt="{{ .Title }}" class="hover-shadow"/>

  <div class="overlay">
        <p class="title">{{ .Title }}</p>
  </div>
  </a>

	</div>
</div>


<style type="text/css">


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.thumb-box {
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.thumb-box {
  flex: 45%;
  max-width: 45%;
  padding: 0 4px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.thumb-box {
  flex: 30%;
  max-width: 30%;
  padding: 0 4px;
}
}




.thumb-box img {
  opacity: 1;
  margin: 0;
  max-width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  overflow: hidden;

}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.3;
}



.thumb-card {
  position: relative;
    width: 100%;
    border: 1px solid #cccccc;
    margin-top: 50px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);

    }

.thumb-card a {
  position: relative;
}


      .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

 .title {
  color: white;
  font-size: 0.9em;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
}


.thumb-box:hover .overlay {
  opacity: 0.8;
  height: 3em;
}


</style>