{{ partial "header.html" . }}


{{ partial "tagsDisplay.html" . }}
<h1> {{ i18n "comics-chapter" }} {{ .Params.chapter }}: {{ .Title }} </h1>
<div> {{ .Content}} </div>


  {{ partial "imgGallery" .}}


{{ partial "sectionPaginate" . }}


{{ partial "footer.html" . }}