<!-- Facebooks Open-Graph Protocall. Mainly Search Engine Optimization -->
<meta property="og:url" content="{{ with .Permalink }}{{ . }}{{ else }}{{ .Site.BaseURL }}{{ end }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}">
{{ with $.Param "image" }}<meta property="og:image" content="{{ . }}">{{ end }}
{{ with $.Param "tags" }}<meta property="og:description" content="{{ . }}">{{ end }}
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:locale" content="en_US">
<meta property="og:locale:alternate" content="en_GB" />
<meta property="og:locale:alternate" content="fr_FR" />
<meta property="og:locale:alternate" content="br_FR" />
{{ with $.Param "author" }}<meta property="article:author" content="{{ . }}">{{ end }}
