<div class="dropdown">
	<button class="button-primary dropbtn"> {{ .Site.Language.LanguageName }} <i class="fa fa-language"></i>
	</button>
	<div class="dropdown-content">
		{{ range $.Site.Home.AllTranslations }}
			<a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
		{{ end }}
	</div>
</div> 


