	    </main>

	    <footer class="container">
		  <div>
		  		    {{ partial "socialMedia" . }}
		    <p>
		    &copy; 2020 Erwan Potier.
		    <a href="https://creativecommons.org/licenses/by/3.0/" title="Creative Commons Attribution"> {{ i18n "footer-rights-reserved" }}</a>;
		    {{ i18n "footer-attribution" }}
		    </p>
		  </div>
		</footer>
	</body>
</html>


<style type="text/css">
	
	footer p{
		margin-top: 5em;
		text-align: center;
	}
</style>