<!doctype html>
<html lang="{{ with .Site.LanguageCode }} {{.}} {{ else}} en-US {{ end }}">
	<head>
		  {{ partial "meta/meta.html" . }}
		  <title>{{ .Title }} - {{ .Site.Title }}</title>
		  {{ partial "meta/open-graph.html" . }}
		  {{ partial "meta/twitter-meta.html" . }}
		  {{ partial "meta/shema.html" . }}
		  {{ partial "styles.html" . }}
	</head>