{{ $baseUrl := .Site.BaseURL }}
{{ $lang := .LanguagePrefix  }}
{{ $imgDir := .Params.image  }}
{{ $arrayGallery := .Params.gallery  }}
<div class="slideshow-container">
  {{ range $index, $elem_val := .Params.gallery }}
    <div class="mySlides fade">
      <div class="numbertext">{{$index}}</div>
      <img src="{{$lang  }}/comics/{{ $imgDir }}{{ . }}" class="{{$index}}-image">
    </div>
  {{ end}}
      <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)"><i class="fa fa-chevron-left fa-3x" aria-hidden="true"></i> </a>
  <a class="next" onclick="plusSlides(1)"><i class="fa fa-chevron-right fa-3x" aria-hidden="true"></i></a>
</div>

<!-- The dots/circles -->
<div class="dot-box" style="text-align:center">
  {{ range $index, $elem_val := .Params.gallery }}
    <span class="dot" onclick="currentSlide({{$index}})"></span>
  {{end}}
</div>


<script type="text/javascript">
var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "flex";
  dots[slideIndex-1].className += " active";
}

</script>

<style type="text/css">

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  justify-content: center;
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: grey;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 2em 0.5em 0.5em 2em;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0.5em 2em 2em 0.5em;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* The dots/bullets/indicators */
.dot-box{
  margin-top: 2em;
	display: flex;
	justify-content: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

</style>