
<a href="{{ .Site.BaseURL }}" id="logoweb" class="sitelogo "> WebComics</a>
<nav id="nav" class="nav" >
  <ul id="myTopnav" class="shadow-nav topnav">
    {{ range .Site.Menus.mainmenu }}
      <li> <a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
    {{ end }}
    <li class="language"> {{ partial "allLanguages" . }}</li>
    <li>
      <a href="javascript:void(0);" class="icon" onclick="responsiveMenu()">
    <i class="fa fa-bars fa-2x"></i>
  </a>
</li>
  </ul>

</nav>


<script type="text/javascript">
/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */

function responsiveMenu() {


  var x = document.getElementById("myTopnav");
  var logo = document.getElementById("logoweb");
  var nav = document.getElementById("nav");
  if (x.classList.contains("responsive")) {
    x.classList.toggle("responsive", false);
    logo.classList.toggle("responsive", false);
    nav.classList.toggle("responsive", false);
  } else {
     x.classList.toggle("responsive", true);
     logo.classList.toggle("responsive", true);
nav.classList.toggle("responsive", true);
  }

  } 
</script>




<style>

/* Hide the link that should open and close the topnav on small screens */
nav li .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a{display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  nav.responsive{
    margin: 0;
    margin-bottom: 1.3em;
    width: 100%;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive  {
    display: flex;
    flex-direction: 
    column;justify-content: 
    flex-start;margin: 0; 
      border-bottom-left-radius : 0.5em;
  border-top-left-radius : 0;
  border-bottom-right-radius : 0.5em;
  border-top-right-radius : 0;
}
  .topnav.responsive  a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive  a{
    float: none;
    display: block;
    text-align: center;
  }
  .sitelogo.responsive, .topnav.responsive .language {display: none;}


}

nav{
  margin-bottom: 1.3em;
}

nav .shadow-nav{
    margin-top: 1em;
    box-shadow: 0 0 2em rgba(0,0,0, 0.2);

}

.dropdown button{
  border-style : none;
}

nav ul, .dropdown button{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-bottom-left-radius : 2em;
  border-top-left-radius : 2em;
  border-bottom-right-radius : 0.5em;
  border-top-right-radius : 0.5em;
}

nav li {
  float: left;
}

nav li a, .dropdown{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #ddd;
  color: black;
}

 .dropdown:hover ,  .dropdown:hover .dropbtn  ,.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

nav li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>


