<div class="pagination shadow-border">

{{with .PrevInSection}}
	<a class="column paginate-previous" href="{{ .RelPermalink  }}"><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></a>
{{end}}
<p class="legend">{{ .Title }}<br>{{ .Date.Format "Mon, 2 Jan, 2006"}} </p>
{{with .NextInSection}}
	<a class="column paginate-next" href="{{ .RelPermalink  }}"> <i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i></a>
{{end}}

</div>

<style type="text/css">
	
 .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
  }

 .legend {
  	margin-left: auto;
  	margin-right: auto;
  }

 .pagination a:hover {
 background-color: #222222; 
  border-color: #222222;
  color: #EADFD7;
  border-radius: 4px;
  border-style: solid;
  opacity: 0.5;
 }



</style>