<div class="sharing-section">
<!-- Social Sharing Links to be shown on content specific pages -->
<a class="social-link" title="Share on Facebook" id="facebook-share" href="https://www.facebook.com/sharer/sharer.php">
  <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i> Facebook
</a>
<a class="social-link" title="Share on Twitter" id="twitter-share" href="http://twitter.com/share" onclick="document.getElementById('twitter-share').href = 'http://twitter.com/share?text=' + document.title +  '&url=' + encodeURIComponent(window.location);" >
  <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i> Twitter
</a>
<a class="social-link" title="Share on Redbubble" id="redbubble-share"  href = "https://www.redbubble.com/people/erwanpotier/shop">
  <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i> RedBubble
</a>
<a class="social-link" title="Share the Permalink" href="{{ .Permalink }}" id="permalink">
  <i class="fa fa-link fa-2x" aria-hidden="true"></i> Permalink
</a>

</div>

<style type="text/css">
	
	.sharing-section {
		margin-top: 2em;
    display: flex;
    justify-content: space-between;
  }
</style>