<!-- Permalink URL's to external CSS & Assets -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
<!-- Relative URL's to Site CSS Styles -->
<link href="/css/normalize.css" rel="stylesheet" charset="utf-8">
<script href="/js/custom.js" type="text/javascript"></script>

<style type="text/css">
body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 1em 0;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;
}



	.shadow-border {
    border: 1px solid #cccccc;
    margin-top: 2em;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
    padding-right: 2em;
    padding-left: 2em;

    }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.container {
  max-width: 360px;
  margin: auto;
}
.visible-xs{
	display: block;
	}
.visible-sm .visible-md .visible-lg {
	display: none;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.container {
  max-width: 600px;
  margin: auto;
}
.visible-xs .visible-md .visible-lg {
	display: none;
}
.visible-sm {
	display: block;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.container {
  max-width: 768px;
  margin: auto;
}
.visible-xs .visible-sm .visible-lg {
	display: none;
}
.visible-md {
	display: block;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
.container {
  max-width: 1024px;
  margin: auto;
}
.visible-xs .visible-md .visible-sm {
	display: none;
}
.visible-lg {
	display: block;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

 a {
    text-decoration: none;
 }

 .box {
    display: flex;
    justify-content: space-between;
  }

  .tags{
		display: flex;
  		flex-wrap: wrap; 
  		justify-content: center;
}

.tags ul{
	margin-left:1em;
	padding:1em;
	position:relative;
	right:24px;
	list-style-type: none;
	}

.tags li, .tags a{
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:11px;
	}

.tags a{
	margin-left:20px;
	padding:0 10px 0 12px;
	background:#0089e0;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;
	box-shadow: 0 0 0.7em rgba(0,0,0, 0.3);	
	} 


.tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #0089e0 transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;		
	}

.tags a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
	}

.tags a:hover{background:#555;}	

.tags a:hover:before{border-color:transparent #555 transparent transparent;}		

</style>