<!-- Contact -->
<div  class="contact-form shadow-border">
  <form  id="contactForm" name="sentMessage" >
    <div class="input-group">
          <!-- Name -->
      <div class="input-field">
        <fieldset>

          <input type="text" id="Name" name="Name" placeholder={{ i18n "contact-name" }}>
        </fieldset>
      </div>
          <!-- Email -->
      <div class="input-field">
        <fieldset>

          <input type="email" id="Email" name="Email" placeholder={{ i18n "contact-mail" }}>
        </fieldset>
      </div>
            <!-- Message -->
      <div class="input-field">
        <fieldset>

          <textarea type="text" name="Message" placeholder={{ i18n "contact-message" }} rows="8" cols="80" id="Message"></textarea>
        </fieldset>
      </div>
        <!-- Captcha -->
      <div class="input-field">
        <fieldset>
      <div id="captcha"></div>
      <input type="text" placeholder="Captcha" id="cpatchaTextBox"/>
        </fieldset>
      </div>
              <!-- Button -->
      <div class="button-holder">
        <button type="submit" class="btn">{{ i18n "contact-submit" }}</button>
      </div>
    </div>

    
  </form>
</div>


<script type="text/javascript">
window.onload=createCaptcha();
var code;
function createCaptcha() {
  //clear the contents of captcha div first 
  document.getElementById('captcha').innerHTML = "";
  var charsArray =
  "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ@!#$%^&*";
  var lengthOtp = 6;
  var captcha = [];
  for (var i = 0; i < lengthOtp; i++) {
    //below code will not allow Repetition of Characters
    var index = Math.floor(Math.random() * charsArray.length + 1); //get the next character from the array
    if (captcha.indexOf(charsArray[index]) == -1)
      captcha.push(charsArray[index]);
    else i--;
  }
  var canv = document.createElement("canvas");
  canv.id = "captcha";
  canv.width = 100;
  canv.height = 50;
  var ctx = canv.getContext("2d");
  ctx.font = "25px Georgia";
  ctx.strokeText(captcha.join(""), 0, 30);
  //storing captcha so that can validate you can save it somewhere else according to your specific requirements
  code = captcha.join("");
  document.getElementById("captcha").appendChild(canv); // adds the canvas to the body element
}
function validateCaptcha() {
  event.preventDefault();
  if (document.getElementById("cpatchaTextBox").value == code) {
    return true;
  }else{
    alert("Invalid Captcha. try Again");
    createCaptcha();
    return false;
  }
}

   
var formElem = document.getElementById("contactForm");
let formData = new FormData(formElem);

formElem.onsubmit = async (e) => {
    e.preventDefault();
    try{
      if (!validateCaptcha()){
        throw new Error("Bad Captcha");
      }

      let response = await fetch("https://v1.nocodeapi.com/erwanpotier/airtable/jYzPBbrWvoNBOhRX?tableName=contactForm", {
        method: 'POST',
        body: JSON.stringify([{"Name": formData.get("Name"),"Message": formData.get("Message"),"Email": formData.get("Email")}]),
                    headers: {
                  "Content-Type": "application/json"
              }
      });

      const json = await response.json();
          alert({{ i18n "contact-success" }});
    } catch (error) {
        alert({{ i18n "contact-fail" }});
    }
  };

</script>

<style type="text/css">
  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea, #name {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
.button-holder button[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2em;
}

canvas{
  /*prevent interaction with the canvas*/
  pointer-events:none;
}

/* When moving the mouse over the submit button, add a darker green color */
.button-holder button[type=submit]:hover {
  background-color: #45a049;
}


 .contact-form {
    padding: 2em;
    margin-top: 2em;
  }


  
</style>