{{- $src := .Get "src" -}}
{{- with .Parent -}}
  <img src="{{$src}}" class="{{.Get "class"}}-image">
{{- else -}}
  <img src="{{$src}}">
{{- end }}


<style type="text/css">
	.content-gallery-image{
  		margin-left: auto;
   		margin-right: auto;
	}

</style>